<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NutriCal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" id="loginimg" class="navbar-brand">
                    <img width="40" height="40" src="~/Images/TIMBER2.png" alt="" title="" />
                </a>
                <a href="@Url.Action("Index", "Home")" id="loginlink" class="navbar-brand">
                    NutriCal
                </a>
                @*@Html.ActionLink("NutriCal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active" id="about">@Html.ActionLink("About Us", "About", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Track Calories", "Index", "CaloriesEatens")</li>
                        <li>@Html.ActionLink("Stories", "Index", "Posts")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>
    <footer class="site-footer">

        <div class="credits">
            <p class="copyright-text">
                © NutriCal @DateTime.Now.Year Designed by <a>Anshuman Acharya</a>
            </p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)
</body>
</html>
