<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NutriCal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (TempData["success"] != null)
    {
        <div id="success" class="alert alert-success" role="alert" style="position:absolute;right:20px;top:10px;z-index:1300">
            <div class="row">
                <div class="col-xs-9 text-left" style="display:inline-flex">
                    <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
                    <h4 class="alert-heading">Success!!!</h4>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="">
                <strong>@TempData["success"].ToString()</strong>
            </div>
        </div>
    }
    @if (TempData["error"] != null)
    {
        <div id="error" class="alert alert-danger" role="alert" style="position:absolute;right:20px;top:10px;z-index:1300">
            <div class="row">
                <div class="col-xs-9 text-left" style="display:inline-flex">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;
                    <h4 class="alert-heading">Error!!!</h4>
                </div>
                <div class="col-xs-3">

                </div>
            </div>
            <div class="">
                <strong>@TempData["error"].ToString()</strong>
            </div>
        </div>
    }
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" id="loginimg" class="navbar-brand">
                    <img width="40" height="40" src="~/Images/TIMBER2.png" alt="" title="" />
                </a>
                <a href="@Url.Action("Index", "Home")" id="loginlink" class="navbar-brand">
                    NutriCal
                </a>
                @*@Html.ActionLink("NutriCal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="nav">
                    <li id="about">@Html.ActionLink("About Us", "About", "Home")</li>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <li id="approve">@Html.ActionLink("Approve Stories", "adminindex", "Posts")</li>
                        <li id="userlist">@Html.ActionLink("User List", "UsersList", "Posts")</li>
                        <li id="news">@Html.ActionLink("News Letter", "NewsLetter", "Posts")</li>
                    }
                    else if (User.Identity.IsAuthenticated)
                    {
                        <li id="calories">@Html.ActionLink("Track Calories", "Index", "CaloriesEatens")</li>
                        <li id="stories">@Html.ActionLink("Stories", "Index", "Posts")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="site-footer">

        <div class="credits">
            <p class="copyright-text">
                © NutriCal @DateTime.Now.Year Designed by <a>Anshuman Acharya</a>
            </p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script")
    <script src='https://www.google.com/recaptcha/api.js'></script>
    @RenderSection("scripts", required: false)
    <script>
        $(".alert").delay(5000).slideUp(200, function () {
            $(this).alert('close');
        });

        $(document).ready(function () {
            var url = window.location.href;
            //console.log(url, url.indexOf("About"));
            $(".nav").find(".active").removeClass("active");
            if (url.indexOf("About") > -1)
                $('#about').addClass("active");
            else if (url.indexOf("adminindex") > -1)
                $('#approve').addClass("active");
            else if (url.indexOf("NewsLetter") > -1)
                $('#news').addClass("active");
            else if (url.indexOf("UsersList") > -1)
                $('#userlist').addClass("active");
            else if (url.indexOf("CaloriesEatens") > -1)
                $('#calories').addClass("active");
            else if (url.indexOf("Posts") > -1)
                $('#stories').addClass("active");
        });
    </script>
</body>
</html>
